# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods (if used)
Pods/

# Swift Package Manager
.swiftpm/
Package.resolved

# Debug log written by AccessibilityHelper.logDebug in DEBUG builds
debug.txt
